body {
    margin :0;
    font-family: 'Arial', sans-serif;
    background-color: #f0e6d2;
    color: #333;
    height: 100%;
    width : 100%;
}

chat-container {
    width: 100%;
    height : 100%;
    text-align: center;
    padding : 10px;
    color: white;
    display : flex;
    flex-direction: column;
    justify-content: flex-end;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(242, 184, 69);
    width : 100%;
    margin-bottom : 5%;
    border-radius : 0 0 10px 10px

}

header h3{
    margin-left : 5px;
    transform : translate(-5%, 0)
}

.bot-message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2%;
    margin-right : 10%;
    padding-left : 2%;

}

.bot-icon {
    margin-right: 10px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: white;
    border: 2px solid #e06666;
    margin-right : 13px;
}

.message-box {
    background-color: #d8dce4; 
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    flex-grow: 1;
    position: relative;
    padding-bottom : 0;
    padding-left : 4%;
}

.message-box::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #d8dce4;
}

.message-box p{
    margin-top : 0;
}

.options {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom : 10px;
}

.option {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: white;
    color: #e06666;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.option.yes {
    background-color: #6aa84f; 
    color: white;
}

.option.no {
    background-color: #e05454;
    color: white;
}

.option.select {
    background-color: rgb(16, 130, 140); 
    color: white;
}

.user-message {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom : 15px;
    margin-right : 10px;
}

.user-response {
    background-color: #6aa84f;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #e06666;
} 


.header {
    position: relative;
    text-align: center;
    color: white;
}

.header-image {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 50%;
    transform: translate(15%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.overlay h4 {
    margin: 0; 
    font-weight: bold;
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: 0;
    background-color: #f0e6d2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4b2e83; 
}

.features-list {
    list-style-type: none;
    padding: 0;
}

.features-list li {
    background-color: #ece8f6;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #b35b00;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #614c8b;
    position: fixed;
    bottom: 0;
    width: 95%;
    border-radius :  20px 20px 0 0;
}

.footer-icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
} */

.footer-icon.home {
    content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpToiq1IGChAGKq7qXRHs9QzNS1sAShPeUmQ&s'); /* Placeholder for home icon */
}

.footer-icon.explore {
    content: url('https://img.freepik.com/premium-vector/chat-bot-logo-virtual-assistant-bot-icon-logo-robot-head-with-headphones_843540-99.jpg'); /* Placeholder for explore icon */
}

.footer-icon.assistant{
    content: url('https://cdn-icons-png.flaticon.com/512/149/149071.png');
}


@media (max-width: 600px) {
    .overlay h1 {
        font-size: 1.8em;
    }

    .content {
        padding: 15px;
    }
}


.streamlit{
    height : 50rem;
    border-radius : 20px;
}