.home {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
}

/* Block Element for header */
.home__header {
    position: relative;
    text-align: center;
    color: white;
}

.home__header-image {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.home__overlay {
    position: absolute;
    top: 50%;
    width : 70%;
    transform: translate(0%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.home__overlay-heading {
    margin: 0; 
    font-weight: bold;
    font-size: 20px; 
}

.home__content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f0e6d2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.home__center-para{
    text-align : center;
}

.home__section-title {
    color: #4b2e83; 
    text-align : center;
}


.home__features-list {
    list-style-type: none;
    padding: 0;
}


.home__feature-item {
    background-color: #ece8f6;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #b35b00; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Block Element for footer */
.home__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #614c8b; 
    position: fixed;
    bottom: 0;
    width: 95%;
    border-radius: 20px 20px 0 0;
}


.home__footer-icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.home__footer-icon--home {
    content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpToiq1IGChAGKq7qXRHs9QzNS1sAShPeUmQ&s'); 
}

.home__footer-icon--assistant {
    content: url('https://img.freepik.com/premium-vector/chat-bot-logo-virtual-assistant-bot-icon-logo-robot-head-with-headphones_843540-99.jpg'); 
}

.home__footer-icon--dashboard {
    content: url('https://thumbs.dreamstime.com/b/dashboard-icon-vector-sign-symbol-isolated-white-background-logo-concept-your-web-mobile-app-design-134070079.jpg'); 
}


.home__footer-icon--profile {
    content: url('https://cdn-icons-png.flaticon.com/512/149/149071.png');
}


@media (max-width: 600px) {
    .home__overlay-heading {
        font-size: 1.8em;
    }

    .home__content {
        padding: 15px;
    }
}
